.entityBox {
    color: blue;
}

.line {
    color: green;
}

.messge {
    color: black;
}

.scroll {
    height: 768px;
    width: 1024px;
    overflow: auto;
    border: 1px solid #666;
    background-color: #FFF;
    padding: 8px;
}